@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h1>CAPEX Web</h1>
    <p class="lead">Sistema Integrado para Solicitud de Proyectos de Inversión.</p>
</div>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>AREA</th>
            <th>GERENCIA</th>
            <th>CREADO</th>
            <th>EJECUCION</th>
            <th>SUSPENDIDO</th>
            <th>FINALIZADO</th>
            <th>en ARCHIVO</th>
            <th>CANCELADO</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-info">
            <td>Adm&Fin</td>
            <td>Log¡stica y Servicios</td>
            <td>1</td>
            <td>17</td>
            <td>3</td>
            <td>11</td>
            <td>181</td>
            <td>5</td>
            <td>218</td>
        </tr>
        <tr class="table-warning">
            <td>Comercial</td>
            <td>Normaliz Suminist</td>
            <td>24</td>
            <td>15</td>
            <td>0</td>
            <td>8</td>
            <td>166</td>
            <td>3</td>
            <td>216</td>
        </tr>
        <tr class="table-warning">
            <td>Comercial</td>
            <td>Tarifas y Mercados</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
        </tr>
        <tr class="table-secondary">
            <td>Distribución</td>
            <td>Calidad Servicio</td>
            <td>1</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>17</td>
            <td>0</td>
            <td>21</td>
        </tr>
        <tr class="table-secondary">
            <td>Distribución</td>
            <td>Construcciones</td>
            <td>0</td>
            <td>11</td>
            <td>0</td>
            <td>8</td>
            <td>58</td>
            <td>0</td>
            <td>77</td>
        </tr>
        <tr class="table-secondary">
            <td>Distribución</td>
            <td>Distrito Z.Este</td>
            <td>306</td>
            <td>565</td>
            <td>37</td>
            <td>149</td>
            <td>7384</td>
            <td>122</td>
            <td>8563</td>
        </tr>
        <tr class="table-secondary">
            <td>Distribución</td>
            <td>Distrito Z.Oeste</td>
            <td>308</td>
            <td>477</td>
            <td>9</td>
            <td>44</td>
            <td>6003</td>
            <td>66</td>
            <td>6907</td>
        </tr>
        <tr class="table-secondary">
            <td>Distribución</td>
            <td>Oper. Distrib.</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>13</td>
            <td>19</td>
            <td></td>
            <td>35</td>
        </tr>
        <tr class="table-secondary">
            <td>Distribución</td>
            <td>TCT</td>
            <td>0</td>
            <td>8</td>
            <td>0</td>
            <td>2</td>
            <td>4</td>
            <td>0</td>
            <td>14</td>
        </tr>
        <tr class="table-danger">
            <td>General</td>
            <td>Sistemas</td>
            <td>0</td>
            <td>17</td>
            <td>0</td>
            <td>4</td>
            <td>94</td>
            <td>3</td>
            <td>118</td>
        </tr>
        <tr class="table-primary">
            <td>Relaciones Humanas</td>
            <td>Relac Instituc</td>
            <td>4</td>
            <td>16</td>
            <td>0</td>
            <td>33</td>
            <td>22</td>
            <td></td>
            <td>75</td>
        </tr>
        <tr class="table-secondary">
            <td>SBGG de Gestión y Adminis</td>
            <td>Est.Especiales</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
        </tr>
        <tr class="table-secondary">
            <td>SBGG de Gestión y Adminis</td>
            <td>Otros</td>
            <td>0</td>
            <td>9</td>
            <td>0</td>
            <td>5</td>
            <td>26</td>
            <td>0</td>
            <td>40</td>
        </tr>
        <tr class="table-light">
            <td>SBGG Operativa</td>
            <td>Gen Dist EnRg Sust</td>
            <td>0</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
        </tr>
        <tr class="table-success">
            <td>Transmición</td>
            <td>Ing. y Planific.</td>
            <td>0</td>
            <td>17</td>
            <td>5</td>
            <td>4</td>
            <td>51</td>
            <td>3</td>
            <td>80</td>
        </tr>
        <tr class="table-success">
            <td>Transmición</td>
            <td>Mant Sist Trans</td>
            <td>0</td>
            <td>126</td>
            <td>2</td>
            <td>65</td>
            <td>274</td>
            <td>17</td>
            <td>484</td>
        </tr>
        <tr class="table-success">
            <td>Transmición</td>
            <td>Operac Sistema</td>
            <td>1</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>7</td>
            <td>1</td>
            <td>12</td>
        </tr>
    </tbody>
</table>




<div>
    @Html.ActionLink("Lista de Areas", "Index", "SOL_Areas")<br />
    @Html.ActionLink("List de Sectores", "Index", "SOL_Sectores")<br />
    @Html.ActionLink("Lista de Organizaciones", "Index", "SOL_Organizaciones")<br />
    @Html.ActionLink("List de Estados", "Index", "SOL_Estados")
    <hr />
    @Html.ActionLink("Lista de Proyectos", "Index", "SOL_Proyectos")<br />
    <hr />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bootswatch</h2>
        <p>
            
            Tema SUPERHERO
        </p>
        <p><a class="btn btn-default" href="https://bootswatch.com/superhero/">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Bootstrap 2</h2>
        <p>
            TEMA FALCON
            U$S 39,00
        </p>
        <p><a class="btn btn-default" href="https://themes.getbootstrap.com/preview/?theme_id=19799&show_new="">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>W3SCHOOL</h2>
        <p>
            W3SCHOOL
            Bootstrap4
        </p>
        <p><a class="btn btn-default" href="https://www.w3schools.com/bootstrap4/default.asp">Learn more &raquo;</a></p>
    </div>
</div>