@model IEnumerable<CAPEX_Web.SOL_Organizaciones>

@{
    ViewBag.Title = "Organizaciones";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ORGANIZACION_NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORGANIZACION_STATUS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ORGANIZACION_NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORGANIZACION_STATUS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ORGANIZACION_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ORGANIZACION_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ORGANIZACION_ID })
        </td>
    </tr>
}

</table>
